name: Build

on: [push]

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust Nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - name: Setup Environment
        run: |
          sudo apt update
          sudo apt install nasm
          sudo apt install lld
          sudo apt install qemu-utils
          rustup component add rust-src --toolchain nightly-x86_64-unknown-linux-gnu
      - name: Install Cargo-make
        uses: davidB/rust-cargo-make@v1
      - name: Run Build
        run: cargo make make-image
      - name: create artifact
        uses: actions/upload-artifact@v4.3.1
        with:
          name: Horse.iso
          path: ./Horse.iso
